
#actor div.twocols
{
     display:flex;
}

#actor div.heading div.label
{
    color:red;
}

#actor div.twocols div.actor
{
     border:2px solid red;
}

#actor div.twocols div.glimpses
{
     border:2px solid green;
}

#actor div.row  div.inputpair
{
    margin-right: 2em;
    display:flex;
}

div#actor input.title
{
    width:40em;
      height:4em;
}

div#actor textarea.title
{
    width:40em;
      height:4em;
}

div#actor input.id
{
    width:3em;
}

div#actor input.language
{
    width:3em;
}


div#actor input.region
{
    width:10em;
}

div#actor input.period
{
    width:10em;
}

div#actor input.url
{
    width:40em;
    height:4em;
}

div#actor textarea.url
{
    width:40em;
    height:4em;
}



div#actor form div.filterrow
{
    display: flex;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

div.cgrow
{
    display:flex;
    margin-left: 1em;
}

div#actor div.row div.label
{
   width:6em;
   color:blue;
    padding-left:0.5em;
}

div.cgrow div
{
     padding: 2px;
}

div.cgrow div.col1
{
   width:2em;
}

div#actor div.actorlist div.actor div.row div.col2
{
    width:3em;
    text-align: right;
    padding-right: 0.5em;
}

 div#actor div.actorlist div.actor div.row div.col3
 {
     width:20em;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;

 }
 div.cgrow div.col2
{
   width:3em;
   text-align: right;
}

div.cgrow div.col3
{
      width:20em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

 div.cgrow div.col4
{
   width:30em;
}

div.cgrow div.col5
{
   width:6em;
}

div.cgrow div.cell.cmtext
{
    width:10em;
}

div.cgrow div.agecell
{
    width:10em;
}

 div.cgrow div.glimpsetext
{
    width:90%;
    float:left;
}


#actor   div.row div.id
{
    width:4em;
}

 div.row div.id
{
    width:4em;
}

#actor   div.row div.cell.cstext
{
    width:4em;
}


#actor   div.row div.cell.cltext
{
    width:6em;
}

#actor   div.row div.cell.cint
{
    width:2em;
}

#actor   div.row div.cell.cdate
{
    width:6em;
}

#actor   div.form
{
   background-color:silver;
}

#actorform div.field input.text
{
    width: 40em;
}


span.red
{
        color: #ff0000;
}
