

/*========================================
twocols panel
========================================== */


#actor div.twocols
{
    display:flex;
}



#actor div.twocols div.actor
{
    border:2px solid red;
}

#actor div.twocols div.glimpses
{
    border:2px solid green;
}




/*========================================
actor edit table
========================================== */

div#actor div.actorinputform form#actorform div.row div.label{}

div#actor div.actorinputform div.row
{
    background: rgba(0, 0, 80, 0.1);
}

div#actor div.actorinputform div.row div.label
{
   width:6em;
   color:blue;
   padding-left:0.5em;
}

div#actor div.actorinputform div.row div.field
{
    padding-left:0.5em;

}

/*========================================
Lifeevent table
========================================== */

div#actor div.eventTable div.body div.row
{
    padding-left:1em;
}

div#actor div.eventTable div.body div.row div
{
    padding-right:1em;
}

div#actor div.eventTable div.body div.row div.age
{
    width:5em;
}


#actor  div.eventTable div.body div.row div.date
{
    padding-left:3em;
}

#actor div.eventTable div.body div.row div.type
{
    font-style:italic;
    color:blue;
    width:6em;
}

#actor div.eventTable div.body div.row div.date
{
    width:6em;
}

#actor div.eventTable div.body div.row div.role
{
    width:16em;
}


#actor div.actor div.eventTable div.body div.row div.text
{
    width:56em;
    float:left;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

}


/*========================================
relationship table
========================================== */

#actor div.relationTable div.body div.row div
{
    padding-right:1em;
}

#actor div.relationTable div.body div.row
{
    padding-left:1em;
}

#actor div.relationTable div.body div.row div.relation
{
    font-style:italic;
    color:blue;
}

/*========================================
glimpses table
========================================== */


div#actor div.cglimpsestable
{

}

div#actor div.cglimpsestable div.row div
{
     padding: 2px;
}

div#actor div.cglimpsestable div.row div.inputpair div.label
{
    padding: 2px;
    color : blue;
}

#actor div.cglimpsestable div.row div.agecell
{
    padding-left:1em;
}

div#actor div.cglimpsestable div.row div.col1
{
   width:2em;
}

div#actor div.cglimpsestable div.row div.col2
{
    width:3em;
    text-align: right;
}

div#actor div.cglimpsestable div.row div.col3
{
    width:20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#actor div.cglimpsestable div.row div.col4
{
    width:30em;
}

div#actor div.cglimpsestable div.row div.col5
{
    width:6em;
}

div#actor div.cglimpsestable div.row div.cell.cmtext
{
    width:10em;
}

div#actor div.cglimpsestable div.row div.agecell
{
    width:10em;
}


div#actor div.cglimpsestable div.row div.glimpsetext
{
    width:56em;
    float:left;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

div#actor div.cglimpsestable div.row
{
    display:flex;
    margin-left: 1em;
}

#actor div.cglimpsestable div.row
{
    display:flex;
    margin-left: 1em;
}



        /*========================================
        actor list
        ========================================== */

/*
    div#actor div.actorlist div.actor div.row div.col2
    {
        width:3em;
        text-align: right;
        padding-right: 0.5em;
    }

    div#actor div.actorlist div.actor div.row div.col3
    {
        width:20em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    #actor   div.row div.id
    {
        width:4em;
    }

    div.row div.id
    {
        width:4em;
    }

    #actor   div.row div.cell.cstext
    {
        width:4em;
    }


    #actor   div.row div.cell.cltext
    {
        width:6em;
    }

    #actor   div.row div.cell.cint
    {
        width:2em;
    }

    #actor   div.row div.cell.cdate
    {
        width:6em;
    }*/

    #actor   div.form
    {
        background-color:silver;
    }

    #actorform div.field input.text
    {
        width: 40em;
    }


    span.red
    {
        color: #ff0000;
    }


    div#actor div.actor div.eventTable
    {

    }

    div#actor div.actor div.eventTable div.body div.row
    {

    }



    div.actor div.eventTable div.body div.row div.col1
    {
        width:3em;
    }
    div.actor div.eventTable div.body div.row div.col2
    {
        width:3em;
    }
    div.actor div.eventTable div.body div.row div.col3
    {
        width:6em;
    }
    div.actor div.eventTable div.body div.row div.col4
    {
        width:6em;
    }
    div.actor div.eventTable div.body div.row div.col5
    {
        width:6em;
    }

    div.actor div.roleTable div.body div.row div.cell
    {
        padding-left:1em;
    }

    /*=============================================
    roletable
    ============================*/

    div#actor div.roleTable div.body div.row div.returnbutton{}



    #actor div.roleTable
    {
        table-layout: auto;
        background-color: #eee;
        border-spacing: 5px;
        background-color: #ccc;
        border-collapse:separate;
    }

    #actor div.roleTable  div.row
    {
        width: auto;
        background-color: #ccc;
    }

    #actor div.editroleTable div.row div
    {
        min-width:3em;
        border-right: 1px solid  #dddddd;
    }

    #actor div.roleTable  div.row div.col1
    {
        width: 3em;
    }

    #actor div.roleTable  div.row div.col2
    {
        width:4em;
        text-align: right;
        padding-right:0.5em;
    }

    #actor div.roleTable  div.row div.col3
    {
        width: 10em;
    }

    #actor div.roleTable  div.row div.col4
    {
        width: 16em;
    }

    #actor div.roleTable div.row div.col6
    {
        display:flex;
    }

    #actor div.actor div.roleTable div.row div.text
    {
        padding-left:0.5em;
    }

    #actor div.actor div.roleTable div.row div.age
    {
        padding-left:0.5em;
    }

    #actor div.actor div.roleTable div.body div.row div.glimpsetext
    {
        width:56em;
        float:left;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    /*=============================================
    newrelationship table
     =================================================*/

    #actor div.newrelationship  div.row div.label,div.field
    {
        padding-left:0.5em;
    }

    #actor div.newrelationship  div.row div.idpair div
    {
        width:2em;
    }

#actor div.newrelationship  div.row  div.label
{
    color:blue;
}

    #actor div.newrelationship  div.row div.namepair div.label , div.field
    {
        width:10em;
    }

    #actor div.newrelationship  div.row div.namepair div.xfield
    {
        width:10em;
    }


    #actor div.newrelationship  div.row div.relnpair div.label , div.field
    {
        width:10em;
    }

    #actor div.newrelationship  div.row div.relnpair div.xfield
    {
        width:10em;
    }

    #actor div.newrelationship  div.row div.actor2pair div.label, div.field
    {
        width:12em;
    }

    #actor div.newrelationship  div.row div.actor2pair div.xfield
    {
        width:10em;
    }


/*=============================================
 newevent  table
=================================================*/

#actor div.newevent   div.row div.label,div.field
{
    padding-left:0.5em;
}

#actor div.newevent   div.row div.idpair div
{
    width:2em;
}

#actor div.newevent   div.row  div.label
{
    color:blue;
}

#actor div.newevent   div.row div.namepair div.label , div.field
{
    width:10em;
}

#actor div.newevent   div.row div.namepair div.xfield
{
    width:10em;
}


#actor div.newevent   div.row div.relnpair div.label , div.field
{
    width:10em;
}

#actor div.newevent   div.row div.relnpair div.xfield
{
    width:10em;
}

#actor div.newevent   div.row div.actor2pair div.label, div.field
{
    width:12em;
}

#actor div.newevent   div.row div.actor2pair div.xfield
{
    width:10em;
}


#actor div.newevent div.row div.idpair div.label{}