
body 
{
	font-size: 12pt;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight: 300;
	font-stretch: normal;
	padding: 0;
	margin: 0;
    background-color: #c4ccd2;
}

div#page
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div#page div.header
{
  color: #0f0;
}

div#footer
{
  height: 50px;
  color: #fff;
}

div#page div.mypage
{
  display: flex;
  flex: 1;
  color: #000; 
}

div#page div.mypageinner
{
  display: flex;
  flex:1;
}

div#left
{
  width: 200px;
  background:rgba(0,0,0,0.05);
  order: 1;
  padding: 10px; 
}

div#right
{ 
  width: 200px;
  order: 3;
  background:rgba(0,0,0,0.05);
  padding: 10px;  
}

div.heading div.actorname
{
   font-style:italic;
    color: #e53174;

}

div.row div.actorname
{
    font-style:italic;
    color: #e53174;

}

div.actorbutton a
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    padding-right:4px;
    padding-top:1px;
    padding-bottom:1px;
    display: inline;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #f4cbd7;
    font-size: 10px;
    line-height: 15px;
    color: #e53174;
    width: auto;
    height: auto;
    box-sizing: content-box;
    text-decoration : none;
}

 span.relation
 {
     color:blue;
     font-style:italic;
 }


span.actor
{
    padding-left: 4px;
    padding-right: 4px;
    color:deeppink;
    font-style:italic;
    font-weight: bold;
}

/*==================================
headings
===================================*/

div.heading
{
    display:flex;
    align-items: center;
    margin-top:10px;
    margin-bottom:10px;
    background-color: #bdbfc0;
}

div.heading div.title
{
    color:maroon;
    font-size:1.2em;
    margin-right: 1em;
}

div.heading div.label
{
    color:yellow;
    font-size:1.2em;
    margin-right: 1em;
}

div.subheading
{
    display:flex;
    align-items: center;
    margin-top:10px;
    padding-bottom: 7px;
    background-color: #d2d4d5;
}

div.subheading div.title
{
    color:maroon;
    font-size:1.0em;
    margin-right: 1em;
}

div.subheading div.label
{
    color:yellow;
    font-size:1.0em;
    margin-right: 1em;
}



/*==================================
filterform
===================================*/

.filterform
{
    background-color: lightgrey;
    width: 31em;
}

.filterform div.filterrow div.count
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
}

.filterform form div.filterrow div.label
{
    width:4em;
    color:blue;
    padding:0.1em;
    padding-left:0.2em;
}

.filterform form div.filterrow
{
    display: flex;
    height: 30px;
}

 span.blue
 {
     color:blue;
 }

.button
{
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px; 
    
}

div.clearbutton
{
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
    padding-top: 7px ;
    padding-left: 8px ;
    padding-right: 8px ;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 50px;
}

a.clearbutton
{
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 50px;
}

.button:hover 
{
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; 
}

.button1
{
    margin-left:auto;
}


.right
{
    margin-left:auto;
}

.subheading {
    display: flex;
}

a.button3 {
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0 0.1em 0.1em 0;
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
    background-color: #4095c6;
}

a.editbutton,  a.editbutton:visited ,a.editbutton:link, a.editbutton:visited 
{
    color: white;
}
 
 a.editbutton:hover
 {
     color:blue;
 }

a.editbutton 
{
    text-decoration: none;
    padding: 4px;
    display: inline;
    border-radius: 4px;
    border: 0;
    margin: 0 10px;
    background: green;
    font-size: 12px;
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
}

div.hidebar 
{
    width: 100%;
    background-color: #506ab6;
    margin-top: 20px;
}

div.hidebar  button
{
     background-color: #506ab6;
     width: 100%;
     border: 0 none green;
}

h1 
{
    color: maroon;
    margin-left: 40px;
} 

div#page div.middle div.pageheading
{
    font-size:1.2em;
    color:maroon;
}

div.plus90
{
    -webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
    transform:rotate(90deg); /* Standard syntax */
}

div#right div.frame
{
	border-style: double;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	background-color: rgba(76, 76, 76, 0.2);
	padding: 10px;
}

div#right div.heading
{
    color:yellow;
    font-size:1.2em;
     display:flex;
      align-content: center;
      align-items: center;
}

div#right div.heading div.label
{
    color:yellow;
}

div#right div.heading div.title {
    color: maroon;
}

div#right div.subheading 
{
   margin-top:10px;
    font-size:0.8em;
    display:flex;
     align-content: center;
}

div#right div.subheading div.label
{
    color:yellow;
}

div#right div.subheading div.title
{
    color:maroon;
}

html body div.subheading.row div.returnbutton
{
    padding: 4px;
    display: inline;
    border-radius: 7px;
    margin: 0 1px;
    background:#baf060;
    font-size: 10px;
    line-height: 14px;
    color: black;
    width: auto;
    height: auto;
    box-sizing: content-box;
    text-decoration : none;

}
html body div#glimpse div.editroleTable div.row div.col1 div.returnbutton{}

div.returnbutton a 
{
    padding: 4px;
    display: inline;
    border-radius: 7px;
    margin: 0 1px;
    background:#baf060;
    font-size: 12px;
    line-height: 15px;
    color: black;
    width: auto;
    height: auto;
    box-sizing: content-box;
    text-decoration : none;
}

a, a:visited ,a:link 
{
   text-decoration: none;
   color:blue;
}

 a:hover 
{
   text-decoration: none;
   color: white;
}

div.row
{
    display:flex;
    font-size:9pt;
    line-height: 15px;
    border: 1px solid white;
}
/*====================================
main scroling lists
=========================*/

div.list {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
}

div.list div.row
{
    display:flex;
    font-size:9pt;
    line-height: 15px;
    border: 0.0091px solid #c7c7da;
}

div.list div.row div
{
    padding-left:0.5em;
    padding-right:0em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.list div.row div.cloc
{
    width:12em;
}

div.list div.row div.ctype
{
    width:10em;
}

div.list div.row div.cage
{
    width:5em;
}

div.list div.row div.ctext
{
    width:44em;
}

div.list div.row div.cname
{
    width:10em;
}

div.list div.row div.cmname
{
    width:15em;
}


div.list div.row div.crole
{
    width:10em;
}

div.list div.row div.clname
{
    width:17em;
}

div.list div.row div.cmtext
{
    width:10em;
}

div.list div.row div.cltext
{
    width:73em;
}

div.list div.row div.cstext
{
    width:13em;
}


div.list div.row div.cid
{
    width :3em;
    text-align:right;
    padding-right:0.5em;
}

div.list div.row div.cdate
{
    width :7em;
    text-align:right;
    padding-right:0.5em;
}

div.list div.row div.female
{
    color: #e97b75;
}

div.list div.row div.male
{
    color: #3ea5c9;
}

div.list div.input.row div.returnbutton.delete
{
    width: 43px;
}

div.list div.input.row div.returnbutton.edit
{
    width: 29px;
}

div.list div.input.row input
{
    font-size:9pt;
}

div.list div.button
{
    background-color: transparent;
    border-radius: 3px;
    color: #333;
    text-align: center;
    width: auto;
    border: none;
    box-shadow: none;
    padding: 0px;

}


div.list div.button a
{
    padding: 4px;
    display: inline;
    border-radius: 7px;;
    background: #baf060;
    font-size: 10px;
    line-height: 15px;
    color: black;
    width: auto;
    height: auto;
    box-sizing: content-box;
    text-decoration: none;
}

/*==============================

div.hidebar button
{
    color:white;
}

 div.refs 
{
    margin-top:20px;
}

 div.refs div.linklist 
{
     margin-top:20px;
}

 div.refs div.longlinklist 
{
     margin-top:20px;
}

 div.refs div.longlinklist div.label
{
     margin-top:20px;
    color:yellow;
}

 div.refs div.longlinklist div.list
{
     margin-top:20px;
    display:flex;
    flex-wrap: wrap ;
}

 div.refs div.longlinklist div.list div
{
    width:10em;
    margin-left: 1em;
    overflow: hidden;
    margin-bottom: 0.5em;
}

==========================*/
/*===========================
table
 ===========================*/
/*========================================
 table
========================================== */

div.row div.inputpair div.label{}
div.table div.row div.inputpair div.label{}


div.table div.row
{
    display: flex;
    font-size: 9pt;
    line-height: 15px;
    border: 0.0091px solid #afafc7;
    background: rgba(0, 0, 80, 0.1);
}


div.table div.row  div.inputpair
{
    margin-right: 2em;
    display:flex;
}

div.table div.row  div.label
{
    color: blue;
    padding-left: 1em;
    width: 5em;
}


div.table div.row div.inputpair div.longfield
{
    padding-left: 1em;
    width: 34em;
}

 div.input.table  div.row div.iltext input.ltext
 {
   width:40em;
 }


div.input.table  div.row  input.istext
{
    width: 5em;
}

div.input.table  div.row  input.imtext
{
    width: 10em;
}

div.input.table  div.row input.iltext
{
    width: 40em;
}
div.input.table  div.row div.mfield
{
    padding-left: 1em;
    width: 20em;
}

div.input.table  div.row input.iid
{
    width: 10em;
}

    div.input.table div.row div.iltext
    {
        padding-left: 1em;
        width: 20em;
    }

div.input.table div.row div.imtext
{
    padding-left: 1em;
    width: 10em;
}

    div.table div.row div.field
    {
        padding-left: 1em;
        width: 20em;
    }

    div.input.table  div.row div.field input.text
    {
        width: 20em;
    }


    div.table div.row div.namepair div.field
    {
        padding-left: 1em;
        width: 20em;
    }

    div.table input.title
    {
        width:40em;
        height:4em;
    }

    div.table textarea.title
    {
        width:40em;
        height:4em;
    }

    div.table input.id
    {
        width:3em;
    }

    div.table input.language
    {
        width:3em;
    }

    div.table div.row div.cltext
    {
        width:50em;
    }

    div.table input.region
    {
        width:10em;
    }

    div.table input.period
    {
        width:10em;
    }

    div.table input.url
    {
        width:40em;
        height:4em;
    }

    div.table textarea.url
    {
        width:40em;
        height:4em;
    }

    /*===========================
      inputform
     ===========================*/
    div.inputform
    {
        margin-top:3em;
        background: rgba(0, 0, 80, 0.1);
    }


    div.datarow
    {
        font-size:1em;
    }

    div.datarow div.label
    {
        color:yellow;
        font-size:1em;
    }

    div.datarow div.data
    {
        color:blue;
        font-size:1em;
    }

    div.xrow div.label
    {
        color:maroon;
        font-size:1em;
        width:10em;
    }

    div.xrow div.field
    {
        color:black;
        font-size:1em;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        color: #f00;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .selectable:hover
    {
        background: rgba(0, 0, 80, 0.1);
    }

    .resizable
    {
        resize: both;
        overflow: auto;
    }

    #xxsource_list div.source div.row div.field
    {
        transform: translateY(+25%);
    }

    /*===========================
      table input form
     ===========================*/

    table.inputtable
    {
        font-size:9pt;
    }

    table.inputtable tbody tr.row td.cell input
    {
        font-size:9pt;
    }



