
#relation div.twocols
{
     display:flex;
}

#relation div.twocols div.actor
{
     border:2 solid red;
}

#relation div.twocols div.glimpses
{
     border:2 solid green;
}

#relation div.row  div.inputpair
{

    margin-right: 2em;
    display:flex;

}

div#relation input.title
{
    width:40em;
      height:4em;
}

div#relation textarea.title
{
    width:40em;
      height:4em;
}

div#relation input.id
{
    width:3em;
}

div#relation input.language
{
    width:3em;
}


div#relation input.region
{
    width:10em;
}

div#relation input.period
{
    width:10em;
}

div#relation input.url
{
    width:40em;
    height:4em;
}

div#relation textarea.url
{
    width:40em;
    height:4em;
}

#relation   div.row
{
    display:flex;
    margin-left: 1em;
}

#relation   div.row div.label
{
   width:4em;
   color:blue;
}

#relation   div.row div
{
     padding: 2px;
}

#relation   div.row div.col1
{
   width:2em;
}
#relation   div.row div.col2
{
   width:2em;
}
#relation   div.row div.col3
{
      width:20em;
      xborder: 1px solid #CC33CC;
      white-space: nowrap;
      overflow: hidden;
      o-text-overflow: ellipsis;
      text-overflow: ellipsis;
}
#relation   div.row div.col4
{
   width:16em;
}
#relation   div.row div.col5
{
   width:6em;
}

#relation   div.row div.cell.cmtext
{
    width:10em;
}


#relation   div.row div.id
{
    width:4em;
}

 div.row div.id
{
    width:4em;
}

#relation   div.row div.cell.cstext
{
    width:4em;
}


#relation   div.row div.cell.cltext
{
    width:6em;
}

#relation   div.row div.cell.cint
{
    width:2em;
}

#relation   div.row div.cell.cdate
{
    width:6em;
}

#relation   div.form
{
   background-color:silver;
}


#relation   div.list
{
    overflow-y:scroll;
    overflow-x:hidden;
    height:400px;
    width:90%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
