


#source   div.list
{
    overflow-y:scroll;
    overflow-x:hidden;
    height:70%;
    width:90%;
}







/*================================
source inputform
=================================== */
#source div.inputform
{
    width: 42em;
    margin-top:1em;
}
#sourceform
{
    background-color: silver;
    width: 40em;
}

#sourceform div.row
{

    border-bottom: 1px solid white;
}

#sourceform div.row div.label
{
    width:9em;
}

#sourceform div.row div.innerlabel
{
   width:5em;
    padding-left:1em;
}

#sourceform div.row  div.title
{ 
    width:40em;
    height:4em;
}


#sourceform div.row div.field input.glimpsetypes
{
    width:36em;
}

div#source div.inputform  textarea.title
{ 
    width:40em;
      height:4em;
}

div#source div.inputform input.id
{ 
    width:3em;
}

div#source div.inputform input.language
{ 
    width:3em;
}


div#source div.inputform input.region
{ 
    width:10em;
}

div#source div.inputform input.period
{ 
    width:10em;
}

div#source div.inputform input.url
{ 
    width:40em;
    height:4em;
}

div#source div.inputform  textarea.url
{ 
    width:40em;
    height:4em;
}



/*================================
sourcelist
=================================== */

#source > div.sourcelist > div.source > div.row
{
    display:flex;
    margin-left : 1em;
    background-color: silver;
    padding: 5px;
    width:500em;
}

#source > div.sourcelist > div.source >   div.row div.col1
{
    width:2em;
}

#source > div.sourcelist > div.source > div.row > div.col2
{
    width:3em;
    padding-right:5px;
    text-align:right;
}

#source  > div.sourcelist > div.source >  div.row div.col3
{
    width:46em;
    overflow-x: scroll;
}

#source > div.sourcelist > div.source >   div.row div.col4
{
    width:12em;
    overflow-x: scroll;
}

#source  > div.sourcelist > div.source >  div.row div.col5
{
    width:6em;
}


/*================================
sourceform
=================================== */

#source   div.sourceform
{
    background-color: silver;
    width:36em;
}

#source  div.sourceform div.row
{
    display:flex;
    margin-left : 1em;
    background-color: silver;
}

#source  div.sourceform div.row div.label
{
   width:6em;
   color:blue;
}

#source  div.sourceform div.row div.field
{
    width:36em;
    color:black;
}


#source   div.form 
{
   background-color:silver;
}
