<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Glimpses of past lives{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
    <div class="heading">
        <div class="title">Glimpses of past lives</div>
    </div>
      <div class="subheading row">
          <div class='returnbutton'>
                              <a  href = "/actor/showall" >Actors</a>
          </div>
          <div class='returnbutton'>
                    <a  href = "/source/showall" >Sources</a>
          </div>
          <div class='returnbutton'>
                    <a  href = "/glimpse/showall" >Glimspses</a>
          </div>
          <div class='returnbutton'>
                    <a  href = "/relation/showall" >Relations</a>
          </div>

       </div>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
